* {
	margin: 0;
	padding: 0;
}
body {
	overflow-x: hidden;
}
.container-fluid {
	padding: 0;
}
.head_part {
	background-image: url("../images/blockchain.jpeg");
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom: 1px solid #213237;
}
.head_logo {
	position: relative;
	top: 25px;
	left: 50px;
}
.head_menu {
	height: 150px;
}

.nav-item {
	margin: 10px;
}
.nav-item a {
	font-size: 18px;
	font-weight: bold;
	color: white ;
}

.nav-item a:hover {
	color: #F39C12 ;
}
.nav-item .active {
	color: #F39C12;
}
.head_home {
	height: 300px;
	color: white ;
}

.body-part {
	width: 65%;	
	margin: auto;
	border: 1px solid #E7E7E7;
	border-radius: 5px;
	padding: 50px 20px;
	margin-top: 120px;
}

.body-part_earn_interest {
	width: 60%;	
	margin: auto;	
	padding: 50px 20px;
	margin-top: 120px;
}

.connect_btn {
	background-color: red;
	border-radius: 5px;
	width: 100%;
	padding: 10px;
	color: white;
	font-weight: bold;
	cursor: pointer;
}
.connect_btn:hover {
	background-color: #F39C12;
}
.body_part_photo1 {
	width: 100%;
}
.red_letter {
	color: red;
}

.body_part_photo2 {
	width: 100%;
}
p {
	font-size: 18px;
	text-align: center;
}
.footer_part {
	margin-top: 200px;
	border-top: 2px solid yellow;
	height: 150px;
	background-color: #00090F;
	color: white;
}

.earn_interest_img {
	width: 100%;
	height: auto;
}